* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html *:focus {
  outline: none;
}

body {
  background-color: #084c6c;
  font-size: 10px;
}

main {
  width: 60%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
}

#mainForm {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

label {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 20vh;
}

p {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
  word-wrap: break-word;
}

input {
  margin: 20px;
  width: 20rem;
  font-size: 1.2rem;
  padding: 4px;
}

button {
  padding: 0.5rem 2rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 10px;
  margin: 10px 0;
  cursor: pointer;
}
